<ion-header>
    <ion-toolbar color="warning">
        <ion-title color="dark">{{ id }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="dark" defaultHref="/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="warning">
    <br>
    <ion-title color="dark">Detalle de {{ id }}</ion-title>

    <ion-content color="warning">
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let p of arreglonuevo">
                    <ion-card color="success" class="card">
                        <ion-card-header>
                            <h2>{{ p.marca }}</h2>
                        </ion-card-header>
                        <ion-card-content>
                            <h2>$ {{ p.precio }} </h2>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>


</ion-content>

<div style="display:none;" id="capa"> {{ id }} </div>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="devuelveProducto()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>